#commentform #submit, #searchform .submit { padding: 4px 0 ; }
#tabs .inside {background: none; padding-top:5px;}
.widget h3 { padding-top:9px; height:35px; }
.post-bottom { height:44px; border-bottom:1px solid #ccc; }
