body {
	background-color:#C00202;
}

#pages-top {
	background:#515151 url(red/pages-top.gif) repeat-x bottom center;
	border-bottom:1px solid #333333;
}

#header {
	background:#e1ebef url(red/header.gif) repeat-x bottom center;
}

.search-form {
	background:url(red/search-bar.gif) repeat-x top center;
	border-left:solid 1px #333333;
}

.search-box {
	color:#666666;
}

#logo-back {
	background:url(red/logo-back.gif) no-repeat bottom left;
}

#categories {
	background:#dddddd url(red/categories.gif) repeat-x top center;
	border-top:1px solid #cccccc;
}

#featured {
	background:#f0fede url(red/featured.gif) repeat-x top center;
	border-bottom:1px solid #333333;
}

.featured-norm {
	margin:0; padding:0;
	width:auto; height:auto;
	background:url(red/featured-norm.gif) no-repeat top center;
	line-height:20px;
}

.featured-blog {
	margin:0; padding:0;
	width:auto; height:auto;
	background:url(red/featured-blog.gif) no-repeat top center;
	line-height:20px;
}

.featured-small {
	margin:0; padding:0;
	width:auto; height:103px;
	background:url(red/featured-small.gif) no-repeat top center;
}

#content {
	background:#eeeeee url(red/content.gif) repeat-x top center;
	border-bottom:1px solid #e6e6e6;
}

	.comment-meta, .post-content {
		border-left:1px solid #dddddd;
	}

.post-list-last {
	border-bottom:1px solid #dddddd;
}

.post-list li.post-last, .post-list-last li.post-last, .post-list li.post-last-blank {
	border-bottom:1px solid #dddddd;
}

.post-list li.post, .post-list li.post-last, .post-list-last li.post, .post-list-last li.post-last, .post-list li.post-last-blank, .commentlist li {
	background-image: url(red/postback.gif);
	background-repeat: repeat-y;
}

.post-list li.post-blank, .post-list-last li.post-blank, .post-list li.post, .post-list li.post-last, .post-list-last li.post, .post-list-last li.post-last, .post-list li.post-last-blank, .post-list li.other-post-last, .post-list-last li.other-post-last, .post-list li.archives, .post-list-last li.archives, .post-list li.other-post, .post-list-last li.other-post {
	border-color:#dddddd;
}

.box {
	background:#f7fafc url(red/box-back.gif) repeat-x top center;
	border:1px solid #cccccc;
}	

.meta {
	border-left:1px solid #d9e2e9;
}

.related-posts, .tags-top {
	border-top:1px solid #dddddd;
}

.comment-content {
	border-left:1px solid #e5e9ee;
}

blockquote {
	background:#f0f4f7;
	border:1px solid #d9e4ef;
}

h3, h3 a:link, h3 a:active, h3 a:visited {
	color:#d70e0e;
}

.post-content h1, h1.comments-title, .post-content h2, .post-content h2.title, h2.comments-title, .post-content h3, .post-content h4, .post-content h5 {
	color:#484a4b;
}

h4, h4.related-posts, h4.tags {
	color:#333333;
}

h5 {
	color:#333333;
	border-bottom:1px solid #cccccc;
}

a:link, a:active, a:visited {
	color: #d40c0c;
}

#subscribe a, .featured-blog-content a, #footer a {
	color:#ffffff;
	text-decoration:underline;
}

h2.featured a:link, h2.featured a:active, h2.featured a:visited, a.twitter:link, a.twitter:active, a.twitter:visited, a.email:link, a.email:active, a.email:visited, a.rss-big:link, a.rss-big:active, a.rss-big:visited, .featured-norm, .featured-blog, h2.featured {
	color:#ffffff;
}

#pages-list li a, a.rss:link, a.rss:active, a.rss:visited, #pages-top {
	color: #ffffff;
}

.meta {
	color:#676d72;
}

#footer, a.woothemes-link:link, a.woothemes-link:active, a.woothemes-link:visited {
	color:#dddddd;
}

.textfield {
	color:#b2b5b6;
}

#category-list li.current-cat, #category-list li:hover {
	background:#ffffff;
}

#category-list li a {
	color:#333333;
}

#category-list li.current-cat a, #category-list li a:hover {
	color:#ffffff;
}

#category-list li.current-cat, #category-list li:hover {
	background-color:#d40c0c;
}

.related-posts-list li a:hover, .meta a:hover {
	color:#2f5074;
}

.gray, .gray a, h2.gray a {
	color:#71787b;
}

.lightgray, .lightgray a {
	color:#b2b5b6;
}

.orange, caption {
	color:#e91818;
}

.grayblue, .grayblue a, .related_posts li a, .meta a {
	color:#333333;
}

.redblue, .redblue a {
	color:#d40c0c;
}

.redgray, .redgray a, th {
	color:#3a3c3e;
}

#sidebar a, #sidebar {
	color:#9ca0a4;
}
